@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
    margin: 0;
    background-color: lightcoral;
    color: #eee;
	font-family: 'Dosis', sans-serif;
}
svg{
    width: 25px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 20px;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: rgb(189, 107, 162);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(189, 107, 162);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: rgb(189, 107, 162);
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: rgb(189, 107, 162);
}


  .navbar .links li .sub-menu .more-sub-menu {
   
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

/* Header */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.564);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }
nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.448);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: transparent;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: transparent;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: transparent;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  black;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;
}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}
  
  
  
/* Header2 End*/

/* 
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(255, 255, 255, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px; /* Set your desired fixed height for the navigation bar */
  /* max-width: 1300px;
  padding: 0 10px;
} */
/* 
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 60px; /* Set your desired fixed height for the navigation bar */
  /* left: 100%;
  top: 0;
  display: flex;
  justify-content: space-around; /* Adjusted alignment */
  /* align-items: center; /* Adjusted alignment */
  /* z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
} */ */ */ */
/* 
#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase; */
  /* padding: 0 20px; /* Adjusted padding */
  /* display: block;
  height: 100%; /* Ensures uniform height for navigation links */
  /* display: flex;
  align-items: center; Vertical centering */
} */ */
/* 
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(255, 0, 0, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: rgb(189, 107, 162);
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

.dropdownmenu ul,
.dropdownmenu li {
  margin: 0;
  padding: 0;
}

.dropdownmenu ul {
  background: grey;
  list-style: none;
  width: auto; Adjusted width as per needed */
/* }

.dropdownmenu li {
  float: left;
  position: relative;
  width: auto; /* Adjusted width as per needed */
}
/* 
.dropdownmenu a {
  background: transparent;
  color: white;
  display: block;
  font-weight: bold;
  font-size: 13px;
  font-family: sans-serif; */
  /* padding: 15px 20px; /* Adjusted padding */
  /* text-align: center;
  text-decoration: none;
  transition: all 0.25s ease;
} */ */
/* 
#submenu {
  left: 0;
  opacity: 0;
  position:fixed; */
  /* top: 60px; Adjusted top position */
  /* visibility: hidden;
  z-index: 1;
} */
/* 
li:hover ul#submenu {
  opacity: 1;
  visibility: visible;
}

#submenu li {
  float: none;
  width: auto; Adjusted width as per needed */
}
/* 
#submenu a:hover {
  background: transparent;
}

#submenu a {
  background-color: transparent;
} */ */ */

/* Media Query For Desktop */
/* @media only screen and (min-width: 1200px) { */
  /* header */
  /* #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: flex;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }
} */
  /* End header */

/* css slider */
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #232222 40%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}



/* Hero Section */
/* #hero {
	background-image: url(./img/hero-bg.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(189, 107, 162);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
} */
/* End Hero Section */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */
/* Media Query For Desktop
@media only screen and (min-width: 1200px) {
	/* header */
	/* #header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	} */ 
	/* End header */
	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

/* End  Media Query For Desktop */
/* Product */
#product{
    margin: 0;
    font-family: sans-serif;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}  
    a{
text-decoration: none
    }
	.content p{
		color: #000;
	}
    .gallery{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin:50px 0;
        }
        .content{
        width: 20%;
        margin: 15px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        padding-top: 10px;
        box-shadow: 0 14px 28px  rgba(0,0,0,0.25),
        0 10px 10px  rgba(0,0,0,0.22);
        transition: .4s;
        background: #f2f2f2; ;
        }
        .content:hover{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
            0 3px 6px rgba(0, 0, 0, 0.23);
            transform: translate(0px ,-8px);
        }
        img{
            width: 200px;
            height: 200px;
            text-align: center;
            margin: 0 auto;
            display: block;
            }
            p{
            text-align: center;
            color: #b2bec3;
            padding-top: 0 8px;
            }
            h6{
            font-size: 26px;
            text-align: center;
            color: #222f3e;
            margin: 0;
            }
            ul{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                }
                li{
                padding: 5px;
                }
                .fa{
                font-size: 26px;
                transition: .4s;
                }
                .checked{
                color: #ff9f43;
                }
                .fa:hover{
                    transform: scale(1.3);
                    transition: .6s;
                    }
                    button{
                    text-align: center;
                    font-size: 24px;
                    color: #fff;
                    width: 100%;
                    padding:15px;
                    border: 0;
                    outline: none;
                    cursor: pointer;
                    margin-top: 5px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                }                    
                .buy-1{
                    background: #003b2e;
                }
                    .buy-2{
                    background:#003b2e;
                    }
                    .buy-3{
                    background:#003b2e;
                    }
                    .buy-4{
                    background: #003b2e;
                    }
                    @media(max-width:1000px){
                    .content{
                    width: 45px;
                    }
                    }
                    @media(max-width:750px){
                    .content{        
width: 100%;   
                    }
                }
                /* End Product */
               /* gallery */

			   .image{
				border-radius: 30px;
			   }
.image-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
  }
  
  .container {
	position: relative;
	min-height: 100vh;
	/* background: lightcoral; */
  }
  
  .container h1 {
	font-size: 40px;
	font-family: sans-serif;
	font-weight: normal;
	padding: 15px;
	color: #333;
	text-align: center;
	text-transform: capitalize;
  }
  
  .container .image-container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 10px;
  }
  
  .container .image-container .image {
	height: 250px;
	width: 350px;
	border: 10px solid #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
	overflow: hidden;
	cursor: pointer;
  }
  
  .container .image-container .image:hover img {
	transform: scale(1.1);
  }
  
  .container .popup-image {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .9);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
  }
  
  .container .popup-image span {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 60px;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
	z-index: 100;
  }
  
  .container .popup-image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #fff;
	border-radius: 5px;
	width: 95%; /* Adjusted width */
	height: auto; /* Added to maintain aspect ratio */
	object-fit: cover;
  }
  
  @media (max-width: 768px) {
	.container .popup-image img {
	  width: 95%;
	}
  }
  /* End Gallery */
  
				/* About */
				#about{
					font-family: sans-serif;
				}
				.about-us{
			 padding:88px 0px;
						}
				.contain{
				max-width: 1200px;
					margin:0 auto;
				 padding:0 20px;
				}
				.row{
				display: flex;
				flex-wrap: wrap;
				}
				.flex{
				flex:0 0 50%;
				max-width: 100%;
				max-height: 100%;
 				padding:0  20px;
				}

				.about-us h2{
					font-size: 45px;
					margin-bottom: 20px;
					color:#000000;
					}
					
					.about-us h3{
					font-size: 22px;
					color:#ded9d9;
					margin-bottom: 8px;
					
					}
					
					.about-us p{
					font-size: 18px;
					Line-height: 1.5;
					color:#fbf7f7;
					 margin-bottom: 20px;
					}
					.about-us img{
					display: block;
					max-width: 100%;
					height: auto;
					margin:0 auto;
					}			
					.social-links{
					margin-bottom: 20px;
					}
					.social-links a{
						display: inline-block;
						width:40px;
						height: 40px;
						Line-height: 40px;
						text-align: center;
						border-radius: 50%;
						margin-right: 10px;
						color:#333;
						background-color: #fff;
						box-shadow: 0 2px 5px rgba(0,0,0,0.3);
						transition: all 0.4s ease;
						}
						.social-links a:hover{
						transform: translateY(-3px)
						}

						.btn{
							text-decoration: none;
							color:#333;
							display: inline-block;
							padding:10px 20px;
							font-size: 18px;
							font-weight: bold;
							text-transform: uppercase;
							border-radius: 5px;
							background-color: #fff;
							box-shadow: 0 2px 5px rgba(8,0,0,8.3);
							transition: all 0.4s ease;
							}
							.btn:hover{
							transform: translateY(-3px);
							}
							@media screen and(max-width:768px){
								.row{
									flex-direction: column;
								}
								.flex{
									max-width: 100%;
								}
								.about-us h2{
									font-size: 31px;
								}
								.about-us p{
									font-size: 16px;
								}
								.social-links a{
									width: 30px;
									height: 30px;
									line-height: 30px;
									font-size: 14px;
									margin-right: 5px;
								}
								.btn{
									font-size: 16px;
									padding: 8px 16px;
									margin-bottom: 30px;
								}
							}
				/* End About */



	/* Contact */
	/* .contain{
		width: 85%;
		background: #fff;
		border-radius: 6px;
		padding: 20px 60px 30px 40px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	  }
	  .contain .con{
		display: flex;
		align-items: center;
		justify-content: space-between;
	  }
	  .contain .con .left-side{
		width: 25%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
		position: relative;
	  }
	  .con .left-side::before{
		content: '';
		position: absolute;
		height: 70%;
		width: 2px;
		right: -15px;
		top: 50%;
		transform: translateY(-50%);
		background: #afafb6;
	  }
	  .con .left-side .details{
		margin: 14px;
		text-align: center;
	  }
	  .con .left-side .details i{
		font-size: 30px;
		color: #3e2093;
		margin-bottom: 10px;
	  }
	  .con .left-side .details .topic{
		font-size: 18px;
		font-weight: 500;
	  }
	  .con .left-side .details .text-one,
	  .con .left-side .details .text-two{
		font-size: 14px;
		color: #afafb6;
	  }
	  .contain .con .right-side{
		width: 75%;
		margin-left: 75px;
	  }
	  .con .right-side .topic-text{
		font-size: 23px;
		font-weight: 600;
		color: #3e2093;
	  }
	  .right-side .input-box{
		height: 50px;
		width: 100%;
		margin: 12px 0;
	  }
	  .right-side .input-box input,
	  .right-side .input-box textarea{
		height: 100%;
		width: 100%;
		border: none;
		outline: none;
		font-size: 16px;
		background: #F0F1F8;
		border-radius: 6px;
		padding: 0 15px;
		resize: none;
	  }
	  .right-side .message-box{
		min-height: 110px;
	  }
	  .right-side .input-box textarea{
		padding-top: 6px;
	  }
	  .right-side .button{
		display: inline-block;
		margin-top: 12px;
	  }
	  .right-side .button input[type="button"]{
		color: #fff;
		font-size: 18px;
		outline: none;
		border: none;
		padding: 8px 16px;
		border-radius: 6px;
		background: #3e2093;
		cursor: pointer;
		transition: all 0.3s ease;
	  }
	  .button input[type="button"]:hover{
		background: #5029bc;
	  }
	  @media (max-width: 950px) {
		.contain{
		  width: 90%;
		  padding: 30px 40px 40px 35px ;
		}
		.contain .con .right-side{
		 width: 75%;
		 margin-left: 55px;
	  }
	  }
	  @media (max-width: 820px) {
		.contain{
		  margin: 40px 0;
		  height: 100%;
		}
		.contain .con{
		  flex-direction: column-reverse;
		}
	   .contain .con .left-side{
		 width: 100%;
		 flex-direction: row;
		 margin-top: 40px;
		 justify-content: center;
		 flex-wrap: wrap;
	   }
	   .contain .con .left-side::before{
		 display: none;
	   }
	   .contain .con .right-side{
		 width: 100%;
		 margin-left: 0;
	   }
	  } */

	  #contact{
		width: 100vh;
		height: 100vh;
		display: grid;
		align-items: center;
		background: transparent;
	  }
	  .contact-in{
width: 80%;
height: auto;
margin: auto;
display: flex;
flex-wrap: wrap;
padding: 10px;
border-radius: 10px;
background: #fff;
box-shadow: 0px 0px 10px 0px #666;
	  }
.contact-map{
	 width: 100%;
height: auto;
flex: 50%;

}
.contact-map iframe{
	width: 100%;
height: 100%;
}
.contact-form{
	width: 100%;
height: auto;
flex: 50%;
text-align: center;
}
.contact-form h1{
	color: #000;
	font-size: xx-large;
		margin-bottom: 10px;
}
.contact-form-txt{
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.contact-form-txt::placeholder{
		color: #aaa;
}
.contact-form-txtarea{
	width: 100%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	font-family: sans-serif;
}
.contact-form-txtarea::placeholder{
	color: #aaa;
}
.contact-form-btn{
	width: 100%;
	border: none;
	outline: none;
	border-radius: 50px;
	background: #340248;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
}
	/* End Contact */


				/* footer */

				footer {
					background-color: rgb(65, 59, 66);
					color: #fff;
					padding: 20px;
					text-align: center;
				  }
			  
				  .footer-section {
					margin-bottom: 20px;
				  }
			  
				  .footer-section h3 {
					margin-bottom: 10px;
				  }
			  
				  .footer-links {
					list-style: none;
					padding: 0;
					margin: 0;
				  }
			  
				  .footer-links li {
					display: block;
					margin-right: 15px;
				  }
			  
				  .social-icons {
					list-style: none;
					padding: 0;
					margin: 0;
				  }
			  
				  .social-icons li {
					display: block;
					margin-right: 10px;
				  }
			  
				  .social-icons a {
					color: #fff;
					text-decoration: none;
					font-size: 20px;
				  }
			  
				  @media (max-width: 600px) {
					.footer-links li,
					.social-icons li {
					  display: block;
					  margin-bottom: 10px;
					}
				  }




				  